### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#get player count using len
playercount = len(purchase_data["SN"].unique())
playercount

576

In [3]:
#Summary table displaying player counts
totalplayers_ST = pd.DataFrame({"Total Players": [playercount]})
totalplayers_ST

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Calculate the Total Unique Authors
uniqueitem = len(purchase_data["Item ID"].unique())
#Calculate the average price
avgprice = purchase_data["Price"].mean()
#Calculate the number of purchases
numberpurchases = len(purchase_data["Item ID"])
#Calculate the total revenue
totalrevenue = purchase_data["Price"].sum()
#Create a Summary Table (ST)
purchasinganalysis_ST = pd.DataFrame({"Total Unique Authors": [uniqueitem],
                                     "Average Price": [avgprice],
                                     "Number of Purchases": [numberpurchases],
                                     "Total Revenue": [totalrevenue]})
#Format the Summary Table
(purchasinganalysis_ST.style.format({"Average Price": "${:.2f}",
                                    "Total Revenue":"${:.2f}"}))

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Quick Check of Gender value counts
nonUniquecounts = purchase_data['Gender'].value_counts()
nonUniquecounts.head()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [8]:
#SN (players) seems to have duplicate data
#remove duplicate on the 'SN' column & create a data frame
purchase_data_unique = purchase_data.drop_duplicates('SN')
#Calculate the 'Total Count'
gender_counts_unique = purchase_data_unique['Gender'].value_counts().values
#Calculate the percentage
gender_percents_unique = purchase_data_unique['Gender'].value_counts(normalize=True).values
gender_percents_unique = gender_percents_unique*100
#Create 'Gender' as an index
gender_index = purchase_data_unique['Gender'].value_counts().index
#Create a Summary Table (ST)
gender_data = pd.DataFrame({'Gender': gender_index,
                            'Total Count': gender_counts_unique, 
                            'Percentage of Players': gender_percents_unique})
#Set 'Gender' as index (again????)
gender_data = gender_data.set_index('Gender')
#Format the Summary Table
gender_data['Percentage of Players'] = gender_data['Percentage of Players'].map("{:.2f}%".format)
#Print Summary Table
gender_data.head()

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#Assign groups
assignee_group = purchase_data.groupby('Gender')
assigene_group2= purchase_data_unique.groupby('Gender')
#Calculate non-unique purchase counts for players since they could have purchased products several times
nonUniquecounts = assignee_group['SN'].count()
#Calculate unique purchase counts by player
Uniquecounts = assigene_group2['SN'].count()
#Calculate the average purchase price
avg_purchase_price = assignee_group['Price'].mean()
#Calculate the total purchase price
total_purchase_price = assignee_group['Price'].sum()
#Calculate the average total purchase price per person(uniquecounts on 'SN')
avg_total_purchase_price = (total_purchase_price/Uniquecounts)

#Generate a summary table
purchase_anal_gen = pd.DataFrame({'Purchase count':nonUniquecounts,
                                 'Avg Purchase Price':avg_purchase_price,
                                 'Total Purchase value':total_purchase_price,
                                 'Avg Total Purchase per Person':avg_total_purchase_price})
#Format the summary table
purchase_anal_gen['Avg Purchase Price'] = purchase_anal_gen['Avg Purchase Price'].map("${:.2f}".format)
purchase_anal_gen['Total Purchase value'] = purchase_anal_gen['Total Purchase value'].map("${:.2f}".format)
purchase_anal_gen['Avg Total Purchase per Person'] = purchase_anal_gen['Avg Total Purchase per Person'].map("${:.2f}".format)

purchase_anal_gen.head()

,Purchase count,Avg Purchase Price,Total Purchase value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:
#Determine max and min value to create the bins
max_age =purchase_data_unique['Age'].max()
min_age =purchase_data_unique['Age'].min()
print(f'The max value is {max_age} and the min value for age is {min_age}')

The max value is 45 and the min value for age is 7

In [ ]:
bins=[0,9,14,19,24,29,34,39,50]
Group_names=["<10","10-14","15-19","20-24","25-29", "30-34", "35-39", "40+"]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
#test