### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#get player count using len
playercount = len(purchase_data["SN"].unique())
playercount

576

In [3]:
#Summary table displaying player counts
totalplayers_ST = pd.DataFrame({"Total Players": [playercount]})
totalplayers_ST

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Calculate the Total Unique Authors
uniqueitem = len(purchase_data["Item ID"].unique())
#Calculate the average price
avgprice = purchase_data["Price"].mean()
#Calculate the number of purchases
numberpurchases = len(purchase_data["Item ID"])
#Calculate the total revenue
totalrevenue = purchase_data["Price"].sum()
#Create a Summary Table (ST)
purchasinganalysis_ST = pd.DataFrame({"Total Unique Authors": [uniqueitem],
                                     "Average Price": [avgprice],
                                     "Number of Purchases": [numberpurchases],
                                     "Total Revenue": [totalrevenue]})
#Format the Summary Table
(purchasinganalysis_ST.style.format({"Average Price": "${:.2f}",
                                    "Total Revenue":"${:.2f}"}))

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Quick Check of Gender value counts
nonUniquecounts = purchase_data['Gender'].value_counts()
nonUniquecounts.head()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [6]:
#SN (players) seems to have duplicate data
#remove duplicate on the 'SN' column & create a data frame
purchase_data_unique = purchase_data.drop_duplicates('SN')
#Calculate the 'Total Count'
gender_counts_unique = purchase_data_unique['Gender'].value_counts().values
#Calculate the percentage
gender_percents_unique = purchase_data_unique['Gender'].value_counts(normalize=True).values
gender_percents_unique = gender_percents_unique*100
#Create 'Gender' as an index
gender_index = purchase_data_unique['Gender'].value_counts().index
#Create a Summary Table (ST)
gender_data = pd.DataFrame({'Gender': gender_index,
                            'Total Count': gender_counts_unique, 
                            'Percentage of Players': gender_percents_unique})
#Set 'Gender' as index 
gender_data = gender_data.set_index('Gender')
#Format the Summary Table
gender_data['Percentage of Players'] = gender_data['Percentage of Players'].map("{:.2f}%".format)
#Print Summary Table
gender_data.head()

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Assign groups
assignee_group = purchase_data.groupby('Gender')
assigene_group2= purchase_data_unique.groupby('Gender')
#Calculate non-unique purchase counts for players since they could have purchased products several times
nonUniquecounts = assignee_group['SN'].count()
##.nunique() to count unique values
#Calculate unique purchase counts by player
Uniquecounts = assigene_group2['SN'].count()
#Calculate the average purchase price
avg_purchase_price = assignee_group['Price'].mean()
#Calculate the total purchase price
total_purchase_price = assignee_group['Price'].sum()
#Calculate the average total purchase price per person(uniquecounts on 'SN')
avg_total_purchase_price = (total_purchase_price/Uniquecounts)

#Generate a summary table
purchase_anal_gen = pd.DataFrame({'Purchase count':nonUniquecounts,
                                 'Avg Purchase Price':avg_purchase_price,
                                 'Total Purchase value':total_purchase_price,
                                 'Avg Total Purchase per Person':avg_total_purchase_price})
#Format the summary table
purchase_anal_gen['Avg Purchase Price'] = purchase_anal_gen['Avg Purchase Price'].map("${:.2f}".format)
purchase_anal_gen['Total Purchase value'] = purchase_anal_gen['Total Purchase value'].map("${:.2f}".format)
purchase_anal_gen['Avg Total Purchase per Person'] = purchase_anal_gen['Avg Total Purchase per Person'].map("${:.2f}".format)

purchase_anal_gen.head()

,Purchase count,Avg Purchase Price,Total Purchase value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
#Determine max and min value to create the bins
max_age =purchase_data_unique['Age'].max()
min_age =purchase_data_unique['Age'].min()
print(f'The max value is {max_age} and the min value for age is {min_age}')

The max value is 45 and the min value for age is 7

In [9]:
#Create bins and labels
bins=[0,9,14,19,24,29,34,39,50]
group_names=["<10","10-14","15-19","20-24",
             "25-29", "30-34", "35-39",">40"]

In [10]:
#Slice the data and place it into bins
pd.cut(purchase_data_unique["Age"],bins, labels=group_names).head()

0    20-24
1      >40
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < >40]

In [11]:
#place the data series into a new column inside the df
purchase_data_unique["Group Names"]=pd.cut(purchase_data["Age"],bins, labels=group_names)

C:\Users\dcmed\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
assignee_group = purchase_data_unique.groupby('Group Names')

# #Calculate the total count by 'Age'
total_count=assignee_group['Age'].count()
df = pd.DataFrame(total_count)

df['Percentage']=((total_count/sum(total_count))*100).map("{:.2f}%".format)
df

             Age Percentage
Group Names
<10           17      2.95%
10-14         22      3.82%
15-19        107     18.58%
20-24        258     44.79%
25-29         77     13.37%
30-34         52      9.03%
35-39         31      5.38%
>40           12      2.08%

In [13]:
#Another way of tablulating the data

In [14]:
assignee_group = purchase_data_unique.groupby('Group Names')
#Calculate the total count by 'Age'
total_count=assignee_group['Age'].count()
#Calculate the percentage
sum_count=total_count.sum()
percentage=(total_count/sum_count)*100
percentage
df_summary = pd.merge(total_count, percentage, on = 'Group Names')

df_summary=df_summary.rename(columns={"Age_x": "Total Count", 
                           "Age_y": "Percentage of Players"})

df_summary['Percentage of Players'] = df_summary['Percentage of Players'].map("{:.2f}%".format)
df_summary

             Total Count Percentage of Players
Group Names
<10                   17                 2.95%
10-14                 22                 3.82%
15-19                107                18.58%
20-24                258                44.79%
25-29                 77                13.37%
30-34                 52                 9.03%
35-39                 31                 5.38%
>40                   12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#Create bins and labels
bins=[0,9,14,19,24,29,34,39,50]
group_names=["<10","10-14","15-19","20-24",
             "25-29", "30-34", "35-39",">40"]

In [16]:
#Slice the data and place it into bins
pd.cut(purchase_data["Age"],bins, labels=group_names).head()
#place the data series into a new column inside the df
purchase_data["Group Names"]=pd.cut(purchase_data["Age"],bins, labels=group_names)
assignee_group = purchase_data.groupby('Group Names')
#Calculate the 'Purchase Count'
#purchase_count = assignee_group['Group Names'].value_counts().values
purchase_count = assignee_group['Purchase ID'].count()
#purchase_count
purchase_mean = assignee_group['Price'].mean()
totalpurchase_value=assignee_group['Price'].sum()
##.nunique() to count unique values
unique_counts_pp = assignee_group['SN'].nunique()
avg_total_purchase_price_pp = (totalpurchase_value/unique_counts_pp)

#generate a summary table
purchase_analysis_agebin= pd.DataFrame({'Puchase Count':purchase_count,
                                       'Average Purchase Price':purchase_mean,
                                       'Total Purchase Value':totalpurchase_value,
                                       'Avg Total Purchase per Person':avg_total_purchase_price_pp})
#Format the summary table
purchase_analysis_agebin['Average Purchase Price'] = purchase_analysis_agebin['Average Purchase Price'].map("${:.2f}".format)
purchase_analysis_agebin['Total Purchase Value'] = purchase_analysis_agebin['Total Purchase Value'].map("${:.2f}".format)
purchase_analysis_agebin['Avg Total Purchase per Person'] = purchase_analysis_agebin['Avg Total Purchase per Person'].map("${:.2f}".format)
purchase_analysis_agebin

,Puchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Group Names,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
>40,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
assignee_group = purchase_data.groupby('SN')
#Calculate the 'Purchase Count'
#purchase_count = assignee_group['Group Names'].value_counts().values
purchase_count = assignee_group['Purchase ID'].count()
#purchase_count
purchase_mean = assignee_group['Price'].mean()
totalpurchase_value=assignee_group['Price'].sum()
#generate a summary table
Top_Spenders= pd.DataFrame({'Puchase Count':purchase_count,
                            'Average Purchase Price':purchase_mean,
                            'Total Purchase Value':totalpurchase_value})


Top_Spenders=Top_Spenders.sort_values(by=['Total Purchase Value'], ascending=False)

#Format the summary table
Top_Spenders['Average Purchase Price'] = Top_Spenders['Average Purchase Price'].map("${:.2f}".format)
Top_Spenders['Total Purchase Value'] = Top_Spenders['Total Purchase Value'].map("${:.2f}".format)
Top_Spenders.head(5)

             Puchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                5                  $3.79               $18.96
Idastidru52              4                  $3.86               $15.45
Chamjask73               3                  $4.61               $13.83
Iral74                   4                  $3.40               $13.62
Iskadarya95              3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
most_popular=purchase_data[["Item ID", 'Item Name','Price','Purchase ID']]

grouping = most_popular.groupby(['Item ID','Item Name','Price'])

#Calculate the 'Purchase Count'
purchase_count = grouping['Purchase ID'].count()

#total purchase value
totalpurchase_value=grouping['Price'].sum()

#generate a summary table
mp_st= pd.DataFrame({'Puchase Count':purchase_count,
                    'Total Purchase Value':totalpurchase_value})

#sorting by popularity (purchase count)
mp_st=mp_st.sort_values(by=['Puchase Count'], ascending=False)

#Format the summary table
mp_st['Total Purchase Value'] = mp_st['Total Purchase Value'].map("${:.2f}".format)
mp_st.head(5)

,,,Puchase Count,Total Purchase Value
Item ID,Item Name,Price,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,$50.76
145,Fiery Glass Crusader,4.58,9,$41.22
108,"Extraction, Quickblade Of Trembling Hands",3.53,9,$31.77
82,Nirvana,4.90,9,$44.10
19,"Pursuit, Cudgel of Necromancy",1.02,8,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [19]:
most_profitable=purchase_data[["Item ID", 'Item Name','Price','Purchase ID']]

grouping = most_profitable.groupby(['Item ID','Item Name','Price'])

#Calculate the 'Purchase Count'
purchase_count = grouping['Purchase ID'].count()

#total purchase value
totalpurchase_value=grouping['Price'].sum()

#generate a summary table
mp_st= pd.DataFrame({'Puchase Count':purchase_count,
                    'Total Purchase Value':totalpurchase_value})

#sorting by popularity (purchase count)
mp_st=mp_st.sort_values(by=['Total Purchase Value'], ascending=False)

#Format the summary table
mp_st['Total Purchase Value'] = mp_st['Total Purchase Value'].map("${:.2f}".format)
mp_st.head(5)

,,,Puchase Count,Total Purchase Value
Item ID,Item Name,Price,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,$50.76
82,Nirvana,4.90,9,$44.10
145,Fiery Glass Crusader,4.58,9,$41.22
92,Final Critic,4.88,8,$39.04
103,Singed Scalpel,4.35,8,$34.80