### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
playercount = len(purchase_data["SN"].unique())
playercount

576

In [3]:
totalplayers_ST = pd.DataFrame({"Total Players": [playercount]})
totalplayers_ST

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
uniqueitem = len(purchase_data["Item ID"].unique())
avgprice = purchase_data["Price"].mean()
numberpurchases = len(purchase_data["Item ID"])
totalrevenue = purchase_data["Price"].sum()
purchasinganalysis_ST = pd.DataFrame({"Total Unique Authors": [uniqueitem],
                                     "Average Price": [avgprice],
                                     "Number of Purchases": [numberpurchases],
                                     "Total Revenue": [totalrevenue]})
(purchasinganalysis_ST.style.format({"Average Price": "${:.2f}",
                                    "Total Revenue":"${:.2f}"}))

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
nonUniquecounts = purchase_data["Gender"].value_counts()
counts.head()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [7]:
df = purchase_data
df = df.drop_duplicates("SN")
gender_counts = df['Gender'].value_counts().values
gender_percents = df['Gender'].value_counts(normalize=True).values
gender_index = df['Gender'].value_counts().index
gender_data = {'gender': gender_index, 'percent': gender_percents, 'counts': gender_counts}
pd.DataFrame(gender_data)

                  gender   percent  counts
0                   Male  0.840278     484
1                 Female  0.140625      81
2  Other / Non-Disclosed  0.019097      11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame